.inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    &.withLeftIcon .input {
        padding-left: 54px;
    }

    &.withRightIcon .input {
        padding-right: 2.5rem;
    }
}

.leftIcon,
.rightIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    pointer-events: none;
}

.leftIcon {
    left: 20px;
}

.rightIcon {
    right: 20px;
    pointer-events: auto;
}

.input {
    width: 100%;
    height: 26px;
    padding: 12px 22px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border 0.2s ease;
}

.errorMessage {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: red;
}