.inputContainer {
    position: relative;
    width: 100%;
}

.inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.withLeftIcon .input {
        padding-left: 54px;
    }

    &.withRightIcon .input {
        padding-right: 2.5rem;
    }

    &.withPrefix {
        flex-wrap: nowrap;

        .input {
            border-radius: 0 5px 5px 0;
        }
    }
}

.label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #838383;
}

.prefix {
    padding: 12px 22px;
    border: 1px solid #d4d4d4;
    height: 50px;
    border-right: none;
    font-size: 16px;
    line-height: 160%;
    color: #838383;
    background-color: #f3f3f3;
    border-radius: 5px 0 0 5px;
}

.leftIcon,
.rightIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    pointer-events: none;
}

.leftIcon {
    left: 20px;
}

.rightIcon {
    right: 20px;
    pointer-events: auto;
}

.input {
    width: 100%;
    height: 50px;
    padding: 12px 22px;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #ccc;
    border-radius: 5px;

    &.error {
        border: 1px solid red;
    }
}

.textarea {
    height: 154px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 160%;
}

.errorMessage {
    position: absolute;
    right: 16px;
    top: -9px;
    background: #ffffff;
    z-index: 10;
    padding: 2px 5px;
    font-size: 0.875rem;
    color: red;
    text-align: center;
}