@use './reset.scss';
@use './mixins.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-button-background: #000000;
  --primary-button-foreground: #ffffff;
  --secondary-button-background: #ffffff;
  --secondary-button-foreground: #000000;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  @include mixins.flex-center(column);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

main {
  width: 100%;
  flex-grow: 1;
  @include mixins.flex-center(column);
}