.wrapper {
    width: 100%;
    height: 100%;
}

.coverContainer {
    height: 200px;
    width: 100%;
    background-color: var(--light-background);
    border-bottom: 1px solid #e6e6e6;
}

.container {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

.avatarContainer {
    position: absolute;
    top: -50px;
    left: 20px;
}

.infoSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 84px;
    margin-bottom: 36px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.username {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userEmail {
    font-size: 16px;
    color: #838383;
}

.description {
    margin-bottom: 60px;
    max-width: 600px;
    line-height: 160%;
}

.logoutButton {
    margin-bottom: 10px;
}